*{


    .heading-1 {
        text-align: center;
        font-weight: 500;
        font-size: 3rem;
    }
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
    }
    .contenedor-sobre-nosotros{
        display: flex;
        justify-content: space-evenly;
    }
    
    
    .imagen-about-us{
        width: 100%;
    }
    
    .sobre-nosotros .contenido-textos{
        width: 100%;
    }
    .body {
        background-color: #f5f5f5;
    }
    body{
        font-family: Arial, Helvetica, sans-serif;
    }
    .titulo {
        color: #0c2567;
        font-size: 50px;
        text-align: center;
        margin-bottom: 60px;
    }
    
    .acerca-uanl{
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        padding: 0 150px;
        box-sizing: border-box;
        text-align: justify;
    }
    .espacio{
        color: white;
    }
    .espaciooo{
        color: white;
    }
    .imagen-biblioteca{
        width: 100%;   
    }
    .cont{
        display: flex;
        /*align-items: center;*/
    }
    .UANL-def{
        width: 40%;
        margin-left: 2%;
        margin-right: 5px;

    }
    .UANL-def1{
        width: 25%;
        margin-left: 15%;
        margin-right: 15px;

    }
    .list-of{
        text-align: left;
        margin-left: 5%;
    }
    .conoce-img{
        width: 100%;
    }
    
    .texto-contenido{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 23px;
        margin-left: 2%;
        margin-right: 2%;
        text-align: center;
    }
    .texto-contenido1{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 23px;
        margin-left: 2%;
        margin-right: 2%;
        text-align: justify;
    }
   

    .slider-box {
        width: 1280px;
        height: auto;
        margin: 50px auto 0;
        overflow: hidden;
    }
    
    .slider-box ul{
        display: flex;
        padding: 0%;
        width: 400%;
        animation: slide 20s infinite alternate ease-in-out;
    }
    .slider-box li{
        width: 100%;
        list-style: none;
        position: relative;
    }
    
    .slider-box img{
        width: 100%;
    }
    
       
    :root {
        --primary-color:#f0dd0f;
        --background-color: #f6c605;
        --dark-color: #151515;
    }
    
    html {
        font-size: 62.5%;
        font-family: 'Poppins', sans-serif;
    }
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    /* ********************************** */
    /*             UTILIDADES             */
    /* ********************************** */
    .container {
        max-width: 120rem;
        margin: 0 auto;
    }
    
    .heading-1 {
        text-align: center;
        font-weight: 500;
        font-size: 3rem;
    }
    
    /* ********************************** */
    /*               HEADER               */
    /* ********************************** */
    .container-hero {
        background-color: var(--background-color);
    }
       
    .hero {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 0;
    }
    
    .customer-support {
        display: flex;
        align-items: center;
        gap: 2rem;
    }
    
    .customer-support i {
        font-size: 3.3rem;
    }
    
    .content-customer-support {
        display: flex;
        flex-direction: column;
    }
    
    .container-logo {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
    
    .container-logo i {
        font-size: 3rem;
    }
    
    .container-logo h1 a {
        text-decoration: none;
        color: #000;
        font-size: 3rem;
        text-transform: uppercase;
        letter-spacing: -1px;
    }
    
    .container-user {
        display: flex;
        gap: 1rem;
        cursor: pointer;
    }
    
    .container-user .fa-user {
        font-size: 3rem;
        color: var(--primary-color);
        padding-right: 2.5rem;
        border-right: 1px solid #e2e2e2;
    }
    
    .container-user .fa-basket-shopping {
        font-size: 3rem;
        color: var(--primary-color);
        padding-left: 1rem;
    }
    
    .content-shopping-cart {
        display: flex;
        flex-direction: column;
    }
    
    /* ************* NAVBAR ************* */
    .container-navbar {
        background-color: var(--primary-color);
    }
    
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
    }
    
    .navbar .fa-bars {
        display: none;
    }
    
    .menu {
        display: flex;
        gap: 2rem;
    }
    
    .menu li {
        list-style: none;
    }
    .logo-uanl{
        width: 150px;
        height: auto;
     }
     
    .menu a {
        text-decoration: none;
        font-size: 1.7rem;
        color: var(--dark-color);
        font-weight: 600;
        text-transform: uppercase;
        position: relative;
    }
    
    .menu a::after {
        content: '';
        width: 1.5rem;
        height: 1px;
        background-color: #fff;
        position: absolute;
        bottom: -3px;
        left: 50%;
        transform: translate(-50%, 50%);
        opacity: 0;
        transition: all 0.3s ease;
    }
    
    .menu a:hover::after {
        opacity: 1;
    }
    
    .menu a:hover {
        color: #fff;
    }
    
    .search-form {
        position: relative;
        display: flex;
        align-items: center;
        border: 2px solid #fff;
        border-radius: 2rem;
        background-color: #fff;
        height: 4.4rem;
        overflow: hidden;
    }
    
    .search-form input {
        outline: none;
        font-family: inherit;
        border: none;
        width: 25rem;
        font-size: 1.4rem;
        padding: 0 2rem;
        color: #777;
        cursor: pointer;
    }
    
    .search-form input::-webkit-search-cancel-button {
        appearance: none;
    }
    
    .search-form .btn-search {
        border: none;
        background-color: var(--primary-color);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 1rem;
    }
    
    .btn-search i {
        font-size: 2rem;
        color: #fff;
    }
    
    /* ********************************** */
    /*               BANNER               */
    /* ********************************** */
    .banner {
        background-image: linear-gradient(100deg, #000000, #00000020),
            url('img/banner.jpg');
        height: 60rem;
        background-size: cover;
        background-position: center;
    }
    
    .content-banner {
        max-width: 90rem;
        margin: 0 auto;
        padding: 25rem 0;
    }
    
    .content-banner p {
        color: var(--primary-color);
        font-size: 1.2rem;
        margin-bottom: 1rem;
        font-weight: 500;
    }
    
    .content-banner h2 {
        color: #fff;
        font-size: 3.5rem;
        font-weight: 500;
        line-height: 1.2;
    }
    
    .content-banner a {
        margin-top: 2rem;
        text-decoration: none;
        color: #fff;
        background-color: var(--primary-color);
        display: inline-block;
        padding: 1rem 3rem;
        text-transform: uppercase;
        border-radius: 3rem;
    }
    
    /* ********************************** */
    /*            MAIN CONTENT            */
    /* ********************************** */
    .main-content {
        background-color: var(--background-color);
    }
     
    .footer {
        background-color: var(--primary-color);
    }
    
    footer{
        background: #e9bb05;
        padding: 50px 0 30px 0;
        margin: auto;
        overflow: hidden;
    }
    .contenedor-footer{
        display: flex;
        width: 90%;
        justify-content: space-evenly;
        margin: auto;
        padding-bottom: 50px;
        border-bottom: 1px solid #ccc;
    }
    .content-foo{
        text-align: center;
    }
    
    .content-foo h4{
        color: var(--dark-color);
        border-bottom: 3px solid white;
        padding-bottom: 8px;
        margin-bottom: 15px;
        font-size: 23px;
        
    }
    .content-foo p{
        color: var(--dark-color);
        font-size: 20px;
    }
    .titulo-final{
        text-align: center;
        font-size: 24px;
        margin: 20px 0 0 0;
        color: #0e0000;
    }  
    
@media screen and (max-width:900px){
    header{
        background-position: center;
    }

    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-nosotros .contenido-textos{
        width: 90%;
    }

    .imagen-about-us{
        width: 90%;
    }

    /* Galeria */

    .imagen-port{
        width: 44%;
    }

    /* Clientes */

    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card{
        width: 90%;
    }

    .cards .card:first-child{
        margin-bottom: 30px;
    }

    /* servicios */

    .servicio-cont{
        justify-content: center;
        flex-direction: column;
    }

    .servicio-ind{
        width: 100%;
        text-align: center;
    }

    .servicio-ind:nth-child(1), .servicio-ind:nth-child(2){
        margin-bottom: 60px;
    }

    .servicio-ind img{
        width: 90%;
    }
}

@media screen and (max-width:500px){
    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }

    nav > a{
        margin-right: 5px;
    }

    .textos-header h1{
        font-size: 35px;
    }

    .textos-header h2{
        font-size: 20px;
    }

    /* ABOUT US */

    .imagen-about-us{
        margin-bottom: 60px;
        width: 99%;
    }

    .sobre-nosotros .contenido-textos{
        width: 95%;
    }

    /* Galeria */

    .imagen-port{
        width: 95%;
    }

    /* Clients */

    .cards .card{
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards .card img{
        width: 90px;
        height: 90px;
    }

    /* Footer */

    .contenedor-footer{
        flex-direction: column;
        border: none;
    }

    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo h4{
        border: none;
    }

    .content-foo p{
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }

    .titulo-final{
        font-size: 20px;
    }
} 
    .container-footer {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        padding: 3rem;
    }
    
    .menu-footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr) 30rem;
        gap: 3rem;
        justify-items: center;
    }
    
    .title-footer {
        font-weight: 600;
        font-size: 1.6rem;
        text-transform: uppercase;
    }
    
    .contact-info,
    .information,
    .my-account,
    .newsletter {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    
    .contact-info ul,
    .information ul,
    .my-account ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    
    .contact-info ul li,
    .information ul li,
    .my-account ul li {
        list-style: none;
        color: #fff;
        font-size: 1.4rem;
        font-weight: 300;
    }
    
    .information ul li a,
    .my-account ul li a {
        text-decoration: none;
        color: #fff;
        font-weight: 300;
    }
    
    .information ul li a:hover,
    .my-account ul li a:hover {
        color: var(--dark-color);
    }
    
    .social-icons {
        display: flex;
        gap: 1.5rem;
    }
    
    .social-icons span {
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
    
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .social-icons span i {
        color: #fff;
        font-size: 1.2rem;
    }

    
    .content p {
        font-size: 1.4rem;
        color: #fff;
        font-weight: 300;
    }
    
    .content input {
        outline: none;
        background: none;
        border: none;
        border-bottom: 2px solid #d2b495;
        cursor: pointer;
        padding: 0.5rem 0 1.2rem;
        color: var(--dark-color);
        display: block;
        margin-bottom: 3rem;
        margin-top: 2rem;
        width: 100%;
        font-family: inherit;
    }
    
    .content input::-webkit-input-placeholder {
        color: #eee;
    }
    
    .content button {
        border: none;
        background-color: #000;
        color: #fff;
        text-transform: uppercase;
        padding: 1rem 3rem;
        border-radius: 2rem;
        font-size: 1.4rem;
        font-family: inherit;
        cursor: pointer;
        font-weight: 600;
    }
    
    .content button:hover {
        background-color: var(--background-color);
        color: var(--primary-color);
    }
    
    .copyright {
        display: flex;
        justify-content: space-between;
        padding-top: 2rem;
    
        border-top: 1px solid #d2b495;
    }
    
    .copyright p {
        font-weight: 400;
        font-size: 1.6rem;
    }
    
    
    .container-footer {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        padding: 3rem;
    }
    
    .menu-footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr) 30rem;
        gap: 3rem;
        justify-items: center;
    }
    
    .title-footer {
        font-weight: 600;
        font-size: 1.6rem;
        text-transform: uppercase;
    }
    
    .contact-info,
    .information,
    .my-account,
    .newsletter {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    
    .contact-info ul,
    .information ul,
    .my-account ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    
    .contact-info ul li,
    .information ul li,
    .my-account ul li {
        list-style: none;
        color: #fff;
        font-size: 1.4rem;
        font-weight: 300;
    }
    
    .information ul li a,
    .my-account ul li a {
        text-decoration: none;
        color: #fff;
        font-weight: 300;
    }
    
    .information ul li a:hover,
    .my-account ul li a:hover {
        color: var(--dark-color);
    }
    
    .social-icons {
        display: flex;
        gap: 1.5rem;
    }
    
    .social-icons span {
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
    
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .social-icons span i {
        color: #fff;
        font-size: 1.2rem;
    }
    
    .facebook {
        background-color: #3b5998;
    }
    
    .twitter {
        background-color: #00acee;
    }
    
    .youtube {
        background-color: #c4302b;
    }
    
    .pinterest {
        background-color: #c8232c;
    }
    
    .instagram {
        background: linear-gradient(
            #405de6,
            #833ab4,
            #c13584,
            #e1306c,
            #fd1d1d,
            #f56040,
            #fcaf45
        );
    }
    
    .content p {
        font-size: 1.4rem;
        color: #fff;
        font-weight: 300;
    }
    
    .content input {
        outline: none;
        background: none;
        border: none;
        border-bottom: 2px solid #d2b495;
        cursor: pointer;
        padding: 0.5rem 0 1.2rem;
        color: var(--dark-color);
        display: block;
        margin-bottom: 3rem;
        margin-top: 2rem;
        width: 100%;
        font-family: inherit;
    }
    
    .content input::-webkit-input-placeholder {
        color: #eee;
    }
    
    .content button {
        border: none;
        background-color: #000;
        color: #fff;
        text-transform: uppercase;
        padding: 1rem 3rem;
        border-radius: 2rem;
        font-size: 1.4rem;
        font-family: inherit;
        cursor: pointer;
        font-weight: 600;
    }
    
    .content button:hover {
        background-color: var(--background-color);
        color: var(--primary-color);
    }
    
    .copyright {
        display: flex;
        justify-content: space-between;
        padding-top: 2rem;
    
        border-top: 1px solid #d2b495;
    }
    
    .copyright p {
        font-weight: 400;
        font-size: 1.6rem;
    }
    
    